<div class="container mt-5">
    <div class="card w-100">
        <div class="card-body">
            <ng-container *ngIf="game">
                <h5 class="card-title text-center">{{ username }} VS {{ game.opponent }}</h5>
                <h5 class="card-title text-center">{{ currentRound }} / {{ game.roundNumber }}</h5>
                <div class="row">
                    <div class="col mx-auto text-center">
                        <div class="text-center">
                            Your choice
                        </div>
                        <div class="row mx-auto d-flex justify-content-center" *ngIf="!playersChoice; else elseBlock">
                            <div *ngFor="let choice of MODES[game.mode.toUpperCase()].CHOICES; let last=last" [ngClass]="{'pr-10': !last}">
                                <img src="assets/images/game/{{ choice }}.png" class="mw-90p cursor-pointer" alt="{{ choice }}" (click)="playMove(choice)" />
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div class="row mx-auto d-flex justify-content-center">
                                <div>
                                    <img src="assets/images/game/{{ playersChoice }}.png" class="mw-90p" alt="{{ playersChoice }}" />
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="col mx-auto text-center">
                        <div class="text-center">
                            {{ game.opponent }}'s choice
                        </div>
                        <div class="row mx-auto d-flex justify-content-center">
                            <div>
                                <img src="assets/images/game/{{ opponentsChoice }}.png" class="mw-90p" alt="{{ opponentsChoice }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="canGoToNextRound">
                    <div class="col mx-auto text-center">
                        {{ roundResultText }}
                    </div>
                    <div class="col mx-auto text-center" *ngIf="!gameIsEnded; else elseButton">
                        <button (click)="goToNextRound()"
                                class="btn btn-primary btn-block waves-effect text-center m-b-20">
                            Start Next Round
                        </button>
                    </div>
                    <ng-template #elseButton>
                        <div class="col mx-auto text-center">
                            {{ gameResultText }}
                        </div>
                        <div class="col mx-auto text-center">
                            <button (click)="goToGames()"
                                    class="btn btn-primary btn-block waves-effect text-center m-b-20">
                                Return to Games
                            </button>
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
</div>